<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mascitra.digphotoworks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.PhotoStudio" />
        <activity android:name=".activities.Paket" />
        <activity android:name=".activities.Transaksi" />
        <activity android:name=".activities.Gallery" />
        <activity android:name=".activities.About" />
        <activity android:name=".activities.PromoActivity" />
        <activity android:name=".activities.Preweding" />
        <activity
            android:name=".activities.Pencarian"
            android:theme="@style/NoActionBar." />
        <activity android:name=".activities.MakeUp" />
        <activity android:name=".activities.Weding" />
        <activity android:name=".activities.Video" />
        <activity android:name=".activities.Pemesanan" />
        <activity android:name=".activities.DetailPromo" />
        <activity android:name=".activities.PemesananWedding" />
        <activity
            android:name=".activities.PlayActivity"
            android:label="@string/title_activity_play"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>